@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');
body{
    background-image: url('bgweather.jpg');
    font-family: 'Poppins', sans-serif;
    background-size: cover;
  }
  h1,h7,label{
      font-weight: bold;
  }
  label{
      font-size: 1.4em;
  }
  .btn{
    border-radius: 25px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
  }
  .card{
    background-color: #bbe1fa;
    opacity: .8;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }
  .card:hover{
   -webkit-box-shadow: 4px 10px 35px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 10px 35px -15px rgba(0,0,0,0.75);
  box-shadow: 4px 10px 35px -15px rgba(0,0,0,0.75);
  }
  img{
   display:block; 
   width:30%; 
   margin-left: auto; 
   margin-right: auto;
  }

  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #d3dbff;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-image: url('icons8-search-26.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  input:focus{
    outline: none;
}